* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.label_container {
    width: 100vw;
    height: 100vh;
    border: 0.25vw solid #000;

    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex: 1;
}

.col {
    display: flex;
    flex-flow: column;
    flex: 1;

    justify-content: center;
    align-items: center;
}

.border_row {
    border-bottom: 0.25vw solid #000;
}

.border_col {
    border-right: 0.25vw solid #000;
}

.gap-1 { gap: 8px; }
.gap-2 { gap: 16px; }
.gap-3 { gap: 32px; }
.gap-4 { gap: 64px; }